.media-left {
    width: 100px;
    float: left;
}

.thumbnail{
    border: none !important;
}

img {
    height: 100px;
}

.boxPesquisa {
    margin: 20px;
}

#pesquisa {
    margin: 0px;
    width: 400px;
    display: inline-block;
}

h1 {
    margin-left: 20px;
}

h5 {
    display: inline-block;
}
h4 {
	color: #000000;
	}

.panel-default {
    margin: 20px;
}

.icon_favoritos{
    position:absolute;
    left:10px;
    bottom:10px;
}

.icon_container{
    position: relative;
}